@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');



*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	_webkit_box-sizing: border-box;
	_moz_box-sizing: border-box;
	font-family: 'Maven Pro' , sans-serif;
}

body{
	height: 100vh;
	background-image: radial-gradient( circle farthest-corner at -3.1% -4.3%, rgba(57, 255, 186, 1.0) 0%, rgba(21, 38, 82, 1.0) 90%);

}

iframe{
	display: none;
}


/*------------login--------------*/


.wrapper{
	height: 100vh;
}

.mycolor{
	background-image: linear-gradient(to right, #f83600 50%, #f9d423 150%);
}

.myshadow{
	box-shadow: 0 5px 10px #111;
}

.mybtn{
	border-radius: 50px;
	font-weight: bold;
	font-size: 20px;
	background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
	border: none;
}

.mybtn:hover{
	background-image: linear-gradient(to right, #495aff 0%, #0acffe 100%);
}

.myhr{
	height: 2px;
	border-radius: 100px;
}

.mylinkbtn{
	border-radius: 100px;
	width: 50%;
	border: 2px solid #fff;
}

@media(max-width(720px)){
	.wrapper{
		margin: 2px;
	}
}





/*------------end login--------------*/











