
html{
	scroll-behavior: smooth;
}


/*start body*/

body{
	background-color: #f4f4f4;
}

/*end body*/




/*start login form*/



.login {
	width: 300px;
	margin: 100px auto;
}


.login input {
	margin-bottom: 10px;
}

.login .form-control{
	background-color: #e5e5e5;
}

.login h4 {
	color: #888;
}





/*end login form*/